<fs-menu class="simple-menu" buttonClass="button-class">
  <ng-template 
      fs-menu-item
      (click)="clicked('Item 1')"
      class="test-123"
      [link]="['/api', 'test']"
      [queryParams]="{ param: 1 }"
      target="_blank"
      [fsClass]="['test-555']">
    ITEM
  </ng-template>
  <ng-template 
      fs-menu-item 
      (click)="openDialog('Item 2')">
    Open Dialog
  </ng-template>
  <ng-template 
      fs-menu-file-item
      [multiple]="true"
      (select)="fileSelect($event)">
    Upload
  </ng-template>
</fs-menu>
