<ng-container *ngFor="let item of items; trackBy: trackBy">
  <ng-container *ngIf="item.isGroup else menuItem">
    <div class="mat-menu-item" [hidden]="!item.visible" disabled>
      <ng-container *ngIf="!!item.label; else tpl">
        {{ item.label }}
      </ng-container>
      <ng-template #tpl
                   [ngTemplateOutlet]="item.groupItemTemplateRef">
      </ng-template>
    </div>
    <fs-bottom-items-list [items]="item.childrenItems"
                          [hidden]="!item.visible"
                          [parentVisible]="item.visible"
                          class="group">
    </fs-bottom-items-list>
  </ng-container>
  <ng-template #menuItem>
    <ng-container *ngIf="item.visible || parentVisible">
      <ng-container *ngIf="item.link; else btnLikeAction">
        <a (click)="click($event, item)"
           [routerLink]="item.link"
           [queryParams]="item.queryParams"
           [class]="'mat-menu-item ' + item.cssClass"
           [ngClass]="item.ngClass"
           [id]="item.cssId"
        >
          <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
        </a>
      </ng-container>
      <ng-template #btnLikeAction>
        <a (click)="click($event, item)"
           [class]="'mat-menu-item ' + item.cssClass"
           [ngClass]="item.ngClass"
           [id]="item.cssId"
        >
          <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
        </a>
      </ng-template>
    </ng-container>
  </ng-template>
</ng-container>
