<ng-container *ngFor="let item of items; trackBy: trackBy">
  <ng-container *ngIf="item.isGroup else menuItem">
    <div class="mat-menu-item" [hidden]="!item.visible" disabled>
      <ng-container *ngIf="!!item.label; else tpl">
        {{ item.label }}
      </ng-container>
      <ng-template 
        #tpl
        [ngTemplateOutlet]="item.groupItemTemplateRef">
      </ng-template>
    </div>
    <fs-bottom-items-list 
      [items]="item.childrenItems"
      [hidden]="!item.visible"
      [parentVisible]="item.visible"
      class="group">
    </fs-bottom-items-list>
  </ng-container>
  <ng-template #menuItem>
    <ng-container *ngIf="item.visible">
      <ng-container *ngIf="item.link; else btnLikeAction">
        <a 
            (click)="click($event, item)"
            [routerLink]="item.link"
            [queryParams]="item.queryParams"
            [target]="item.target"
            [class]="'mat-menu-item ' + item.cssClass"
            [ngClass]="item.ngClass"
            [attr.disabled]="item.disabled ? 'disabled' : null"
            [id]="item.cssId">
          <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
        </a>
      </ng-container>
      <ng-template #btnLikeAction>
         <a 
            (click)="click($event, item)"
            [class]="'mat-menu-item ' + item.cssClass"
            [ngClass]="item.ngClass"
            [attr.disabled]="item.disabled ? 'disabled' : null"
            [id]="item.cssId">
          <ng-container *ngIf="!item.select; else file">
            <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
          </ng-container>
          <ng-template #file>
            <fs-file 
                (select)="item.select.emit($event)"
                [multiple]="item.multiple"
                [accept]="item.accept || ''"
                [minWidth]="item.minWidth"
                [minHeight]="item.minHeight"
                [imageWidth]="item.imageWidth"
                [imageHeight]="item.imageHeight"
                (error)="item.error($event)">
              <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
            </fs-file>
          </ng-template>
        </a>
      </ng-template>
    </ng-container>
  </ng-template>
</ng-container>
