a.mat-menu-item {
  margin: 0 -16px;
  padding: 16px;
  display: block;
  color: inherit;

  &[disabled] {
    cursor: default;
    opacity: .38;
  }
}

fs-bottom-items-list a.mat-menu-item {
  padding-left: 32px;
  padding-right: 32px;
}

.mat-menu-item {
  ::ng-deep {
    .file-label {
      width: 100%;
      margin: 0 -16px;
      padding: 0 16px;    
    }
  }
}


:host ::ng-deep {
  .fs-menu-group-label {
    font-size: 85%;
    height: 30px;
    line-height: 30px;
    color: #777777;
  }
}