@for (item of items; track trackBy($index)) {
  @switch (true) {
    @case (item.isDivider) {
      @if (item.visible) {
        <mat-divider></mat-divider>
      }
    }
    @case (item.isGroup) {
      <div
          class="fs-menu-groupped-list"
          [hidden]="!item.visible">
        <div
            class="mat-menu-item fs-menu-group-label"
            disabled>
          @if (!!item.label) {
            {{ item.label }}
          } @else {
          }
        </div>
        <fs-menu-items-list
          [items]="item.childrenItems"
          [parentVisible]="item.visible"
          (clicked)="clicked.emit()">
        </fs-menu-items-list>
      </div>
    }
    @default {
      @if (item.link) {
        <div
            [matTooltip]="item.tooltip"
            [matTooltipDisabled]="!item.tooltip">
          @if (item.visible) {
            <a
                mat-menu-item
                [routerLink]="item.link"
                [queryParams]="item.queryParams"
                [target]="item.target"
                (click)="item.click($event)"
                [class]="item.cssClass"
                [disabled]="item.disabled"
                [ngClass]="item.ngClass"
                [id]="item.cssId">
              <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
            </a>
          }
        </div>
      } @else {
        <div
            [matTooltip]="item.tooltip"
            [matTooltipDisabled]="!item.tooltip"
            [ngClass]="{
              'fs-menu-file-item': item.isFile
            }">
          @if (item.visible) {
            <button
                type="button"
                mat-menu-item
                (click)="item.click($event)"
                [class]="item.cssClass"
                [ngClass]="item.ngClass"
                [disabled]="item.disabled"
                [id]="item.cssId">
              @if (!item.isFile) {
                <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
              } @else {
                <ng-container *ngTemplateOutlet="
                fileTmp;
                context: { $implicit: item }"></ng-container>
              }
              <ng-template
                  #fileTmp
                  let-item>
                <fs-file
                  (click)="$event.stopPropagation()"
                  (select)="fileSelected(item, $event)"
                  (cancel)="clicked.emit()"
                  [multiple]="item.multiple">
                </fs-file>
                <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
              </ng-template>
            </button>
          }
        </div>
      }
    }
  }
}