@for (item of items; track trackBy($index)) {
  @switch (true) {
    @case (item.isDivider) {
      @if (item.visible) {
        <mat-divider></mat-divider>
      }
    }
    @case (item.isGroup) {
      <!-- A hidden group draws nothing, so the keyboard cannot reach its entries -->
      @if (item.visible) {
        <div class="fs-menu-groupped-list">
          <div
              class="mat-menu-item fs-menu-group-label"
              disabled>
            @if (!!item.label) {
              {{ item.label }}
            } @else {
            }
          </div>
          <fs-menu-items-list
            [items]="item.childrenItems"
            [parentVisible]="item.visible"
            (clicked)="clicked.emit()">
          </fs-menu-items-list>
        </div>
      }
    }
    @default {
      @if (item.link) {
        <div
            [matTooltip]="item.tooltip"
            [matTooltipDisabled]="!item.tooltip">
          @if (item.visible) {
            <a
                mat-menu-item
                [routerLink]="item.link"
                [queryParams]="item.queryParams"
                [target]="item.target"
                (click)="item.click($event)"
                [class]="item.cssClass"
                [disabled]="item.disabled"
                [ngClass]="item.ngClass"
                [id]="item.cssId">
              <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
            </a>
          }
        </div>
      } @else if (item.isFile) {
        <div
            class="fs-menu-file-item"
            [matTooltip]="item.tooltip"
            [matTooltipDisabled]="!item.tooltip">
          @if (item.visible) {
            <button
                type="button"
                mat-menu-item
                (click)="openFilePicker(file, $event)"
                [class]="item.cssClass"
                [ngClass]="item.ngClass"
                [disabled]="item.disabled"
                [id]="item.cssId">
              <fs-file
                #file
                (click)="$event.stopPropagation()"
                (select)="fileSelected(item, $event)"
                (cancel)="clicked.emit()"
                [multiple]="$any(item).multiple">
              </fs-file>
              <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
            </button>
          }
        </div>
      } @else {
        <div
            [matTooltip]="item.tooltip"
            [matTooltipDisabled]="!item.tooltip">
          @if (item.visible) {
            <button
                type="button"
                mat-menu-item
                (click)="item.click($event)"
                [class]="item.cssClass"
                [ngClass]="item.ngClass"
                [disabled]="item.disabled"
                [id]="item.cssId">
              <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
            </button>
          }
        </div>
      }
    }
  }
}