:host {
  ::ng-deep {
    .fs-menu-groupped-list {
      a, button {
        padding-left: 32px;
      }
    }  

    .fs-menu-group-label {
      font-size: 85%;
      height: 30px;
      line-height: 30px;
    }
        
    .mat-menu-item {
      align-items: center;
      display: flex;

      .file-label {
        width: 100%;
        margin: 0 -16px;
        padding: 0 16px;    
      }
    }
    
  }
}
