<ng-template [ngIf]="!mobile" [ngIfElse]="sheetMenu">
  <button type="button"
          mat-icon-button
          *ngIf="useInternalTrigger"
          [matMenuTriggerFor]="fsMenu"
          #menuTrigger="matMenuTrigger"
          (click)="openMenu()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</ng-template>

<ng-template #sheetMenu>
  <button type="button"
          mat-icon-button
          *ngIf="useInternalTrigger"
          (click)="openMenu()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</ng-template>


<mat-menu #fsMenu="matMenu" (closed)="closedMatMenu()" [class]="class">
  <ng-template ngFor [ngForOf]="items" let-item>
    <button type="button"
            mat-menu-item
            *ngIf="!item.elementRef.hidden"
            (click)="item.elementRef.click($event)"
            [class]="item.elementRef.cssClass"
            [ngClass]="item.elementRef.ngClass"
            [id]="item.elementRef.cssId"
    >
      <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
    </button>
  </ng-template>
</mat-menu>
